<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PSTP Shelter - Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/dark-mode.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            {% set active_route = active_route %}
            {% include 'blocks/side-navbar.html' %}
            <!-- Main Wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {% include 'blocks/top-navbar.html' %}
                <!-- Main Area-->
                <div class="container-fluid">     
                    <main class="col-md-12 col-lg-12 main-content">
                        <h2>Latest Blogs</h2>
                        <div class="container mt-4 mb-4">
                            <div class="row">
                                {% for blog in last_blogs|reverse %}
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title"><strong>{{ blog.title }}</strong></h5>
                                            <p>{{ blog.short_description }}</p>
                                            <p class="card-text">by: {{ blog.author }}</p>
                                            <!-- Read More button linking to the blog with blog ID -->
                                            <a href="/blogs/{{ blog.id }}" class="btn btn-primary btn-sm float-right">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <h2>New Pets Looking for Adoption</h2>
                        <div class="container mt-4 mb-4">
                            <div class="row">
                                {% for pet in last_pets|reverse %}
                                <div class="col mb-4">
                                    <div class="card">
                                        <img src="{% if pet.pet_type == 'cat' %}https://logowik.com/content/uploads/images/black-cat4091.logowik.com.webp{% elif pet.pet_type == 'dog' %}https://logowik.com/content/uploads/images/golden-retriever-dog793.logowik.com.webp{% endif %}" class="card-img-top img-fluid" alt="{% if pet.pet_type == 'cat' %}Cat Image{% elif pet.pet_type == 'dog' %}Dog Image{% endif %}">
                                        <div class="card-body">
                                            <h5 class="card-title"><strong>{{ pet.pet_name }}</strong></h5>
                                            <p class="card-text">{{ pet.gender }} - {{ pet.pet_type }}</p>
                                            <a href="/pets/{{ pet.id }}" class="btn btn-primary">Profile</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </main>
                </div>
                <footer class="footer">
                    <p class="credits-pstp">pstp made with &hearts; 2023</p>
                </footer>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
