<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ pet.pet_name }} - PSTP</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/dark-mode.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            {% set active_route = active_route %}
            {% include 'blocks/side-navbar.html' %}
            <!-- Main Wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {% include 'blocks/top-navbar.html' %}
                <!-- Main Area-->
                <div class="container-fluid">     
                    <main class="col-md-12 col-lg-12 main-content">
                        <div class="container mt-4">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <div class="pet-details">
                                        {% if pet %}
                                            <h1>{{ pet.pet_name }} Details</h1>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {% if pet.pet_type == 'cat' %}
                                                        <img class="pet-image" src="https://logowik.com/content/uploads/images/black-cat4091.logowik.com.webp" alt="Cat Image">
                                                    {% elif pet.pet_type == 'dog' %}
                                                        <img class="pet-image" src="https://logowik.com/content/uploads/images/golden-retriever-dog793.logowik.com.webp" alt="Dog Image">
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6">
                                                    <p><strong>Gender:</strong> {{ pet.gender }}</p>
                                                    <p><strong>Type:</strong> {{ pet.pet_type }}</p>
                                                    <p><strong>background:</strong> {{ pet.background_story }}</p>
                                                </div>
                                                <hr>
                                                <div class="text-center">
                                                    {% if pet.pet_status == 'adopted' %}
                                                    <h2>Pet Adopted</h2>
                                                    {% else %}
                                                    <h2>Pet can be Adopted At shelter</h2>
                                                    <h3> visit us soon </h3>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <p>Pet not found</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <footer class="footer">
                    <p class="credits-pstp">pstp made with &hearts; 2023</p>
                </footer>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
